.update_password_wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}

.update_password_container{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 70vh;
    background-color: white;
}

.update_password_heading{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vmax;
    border-bottom: 1px solid tomato;
}

.update_password_heading>h3{
    font: 500 1.4vmax "Roboto";
    color: tomato;
}

.update_password_form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2vw;
    height: 80%;
}

.update_password_form>div{
    border: 1px solid rgba(0,0,0,0.267);
    display: flex;
    align-items: center;
    justify-content: center;
}

.update_password_form>div>input{
    border: none;
    outline: none;
    padding: 1vmax;
    font: 300 1.2vmax cursive;
}

.update_password_form>div>svg{
    color: rgba(0,0,0,0.623);
}

.updatePasswordBtn{
    border: none;
    background-color: tomato;
    color: white;
    font: 300 0.9vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.219);
}

.updatePasswordBtn:hover{
    background-color: rgb(179, 66, 46);
}

@media screen and (max-width: 600px){
    .update_password_wrapper{
        background-color: white;
    }

    .update_password_container{
        width: 100vw;
        height: 95vh;
    }

    .update_password_form{
        padding: 5vw;
    }
    .update_password_form>div>input{
        padding: 4vw 5vmax;
        font: 300 1.7vmax cursive;
    }
    .update_password_form > div > svg {
        font-size: 2.8vmax;
    }
    .updatePasswordBtn{
        font: 300 1.9vmax "Roboto";
        padding: 1.8vmax;
    }
}