.update_profile_wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
}

.update_profile_container{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 70vh;
    background-color: white;
}

.update_profile_heading{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vmax;
    border-bottom: 1px solid tomato;
}

.update_profile_heading>h2{
    font: 500 1.4vmax "Roboto";
    color: tomato;
}

.update_profile_form{
    display: flex;
    flex-direction: column;
    padding: 2vw;
    justify-content: space-evenly;
    height: 80%;
}

.update_profile_form>div>svg{
    color: rgba(0,0,0,0.623);
}

.update_profile_form>div{
    border: 1px solid rgba(0,0,0,0.267);
    display: flex;
    justify-content: center;
    align-items: center;
}

.update_profile_form>div>input{
    outline: none;
    padding: 1vmax;
    border: none;
    font: 300 1.2vmax cursive;
}

.update_profile_form>input{
    background-color: tomato;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.5s;
    border-radius: 4px;
    padding: 0.8vmax;
    box-shadow: 0 2px 5px rgba(0,0,0,0.219);
}

.update_profile_image>img{
    width: 3vmax;
    border-radius: 100%;
}

.update_profile_image>input::file-selector-button{
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    border: none;
    margin-right: 20px;
    font: 400 0.8vmax cursive;
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, 0.623);
    /*background-color: rgb(255, 255, 255);*/
}

.updateProfileBtn{
    background-color: tomato;
    color: white;
    font: 300 0.9vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.219);
}

.updateProfileBtn:hover {
    background-color: rgb(179, 66, 46);
}