.reset_password_wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgb(231,231,231);
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset_password_container{
    width: 30vw;
    height: 50vh;
    background-color: white;
}

.reset_password_heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset_password_heading>h3{
    padding: 1vmax;
    border-bottom: 1px solid tomato;
    font: 500 1.4vmax "Roboto";
    color: rgb(0,0,0,0.6);
}

.reset_password_form{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
    padding: 2vmax;
}

.reset_password_form>div{
    border: 1px solid rgb(0,0,0,0.231);
    display: flex;
    padding-left: 1vmax;
    align-items: center;
}

.reset_password_form>div>svg{
    color: rgb(0,0,0,0.623);
}

.reset_password_form>div>input{
    border: none;
    outline: none;
    padding: 1vmax;
    font: 300 1.2vmax cursive;
}

.resetPasswordBtn{
    border: none;
    background-color: tomato;
    color: white;
    padding: 0.8vmax;
    font: 300 0.9vmax "Roboto";
    transition: all 0.5s;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.219);
}

.resetPasswordBtn:hover{
    background-color: rgb(179, 66, 46);
}