.forgot_password_wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgb(231,231,231);
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot_password_container{
    width: 25vw;
    height: 40vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.forgot_password_heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot_password_heading>h3{
    border-bottom: 1px solid red;
    padding: 1vmax;
}

.forgot_password_form{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2vmax;
}

.forgot_password_form>div{
    display: flex;
    border: 1px solid rgba(0,0,0,0.267);
    align-items: center;
    padding-left: 0.8vmax;
    /*justify-content: center;*/
    /*padding: 0.8vmax;*/
}

.forgot_password_form>div>svg{
    color: rgba(0,0,0,0.623);
}

.forgot_password_form>div>input{
    border: none;
    outline: none;
    padding: 1vmax;
    font: 300 1.2vmax cursive;
}

.forgotPasswordBtn{
    color: white;
    background-color: tomato;
    border: none;
    padding: 0.8vmax;
    transition: all 0.3s ease-in;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.219);
}

.forgotPasswordBtn:hover{
    background-color: rgb(179, 66, 46);
}