.all_products_container{
    display: flex;
}

.filters_container{
    background-color: red;
    width: 20%;
    flex-shrink: 0;
}

.products_container{
    /*background-color: green;*/
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products_wrapper{
    /*transform: scale(0.5, 0.5);*/
    padding: 1vw;
    margin: 1vw;
}

.products_wrapper > img{
    /*transform: scale(0.5, 0.5);*/
    width: 200px;
    max-width: 300px;
    height: auto;
}

.filters_container_form{
    display: flex;
    flex-direction: column;
}

.filters_container_categories{
    margin: 0.2vw;
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
}

.filters_category_item{
    display: flex;
    align-items: center;
}

.filters_container_categories>div>input{
    margin: 0.5vw;
}

.filters_container_price{
    display: flex;
    padding: 0.3vw;
}

.filters_container_price>input{
    width: 5vw;
    height: 2.5vw;
    /*margin: 0.2vw;*/
    padding: 0.3vw;
    margin-left: 0.5vw;
}

.filters_container_price>button{
    width: 3vw;
    height: 2.5vw;
    padding: 0.3vw;
    margin-left: 0.5vw;
}

.filters_container_ratings{
    padding: 0.5vw;
}

.paginationBox{
    display: flex;
    justify-content: center;
    margin: 6vmax;
}

.pagination{
    display: flex;
    justify-content: center;
    padding: 0;
}

.page-item{
    background-color: rgb(255,255,255);
    list-style: none;
    border: 1px solid rgba(0,0,0,0.178);
    padding: 1vmax 1.5vmax;
    transition: all 0.3s;
    cursor: pointer;
}

.page-item:first-child{
    border-radius: 5px 0 0 5px;
}

.page-item:last-child{
    border-radius: 0 5px 5px 0;
}

.page-link{
    text-decoration: none;
    font: 300 0.7vmax "Roboto";
    color: rgb(80,80,80);
    transition: all 0.3s;
}

.page-item:hover{
    background-color: rgb(230,230,230);
}

.page-item:hover .page-link{
    color: rgb(80,80,80);
}

.pageItemActive{
    background-color: tomato;
}

.pageLinkActive{
    color: white;
}